<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>WASFA - login/signup</title>
	<link rel="stylesheet" href="/public/css/login.css">

</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="form-structor">
		<div class="signup slide-up">
			<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
			<form method="post" action="/signup/submit">
				<div class="form-holder">
					<input type="text" name="Nom" class="input" placeholder="Nom" required />
					<input type="text" name="Prenom" class="input" placeholder="Prenom" required />
					<input type="text" name="Address" class="input" placeholder="Address" />
					<select class="input" name="Genre">
						<option value="#">Genre</option>
						<option value="Femme">Femme</option>
						<option value="Homme">Homme</option>
					</select>
					<!-- <input type="date" id="start" name="trip-start" value="2021-07-22" min="2018-01-01" max="2018-12-31"> -->
					<input placeholder="Date de naissance" type="text" onfocus="(this.type = 'date')" style="width: 95%;" name="Age" class="input">
					<input type="email" name="Email" class="input" placeholder="Email" required />
					<input type="password" name="pwd" class="input" placeholder="Password" required />
					<!-- <input id="password2" type="password" class="input" placeholder="repeat Password" /> -->
				</div>
				<button class="submit-btn">Sign up</button>
			</form>
		</div>
			<div class="login">
				<div class="center">
					<h2 class="form-title" id="login"><span>or</span>Log in</h2>
					<form action="/auth" method="post">
						<div class="form-holder">
							<input type="email" name="email" class="input" placeholder="Email" required />
							<input type="password" name="password" class="input" placeholder="Password" required />
						</div>
						<button class="submit-btn">Log in</button>
					</form>
				</div>
			</div>
	</div>
	<!-- partial -->
	<script src="/public/js/login.js"></script>
</body>

</html>