<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WASFA</title>
    <!-- Responsive Tag -->
    <meta name="viewport" content="width=device-width">

</head>

<body>

    <div>
        <a href="/login">login</a>
    </div>
   
</body>

</html>
